<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="no-header-page">

<script src="https://madxartwork.eu.org/fullrecent.js"> </script>
<script>var numposts = 1; var showpostthumbnails = false;</script> 




<script src='https://desainwebsemarang.blogspot.com/feeds/posts/default/-/madxartwork?max-results=1&amp;orderby=published&amp;alt=json-in-script&amp;callback=showfullpost'/>	
 


  <div class="wrapper">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>




    <div id="gugur-main" class="content-wrap">
      {{#sections}}
        <div class="container">{content}</div>
      {{/sections}}
    </div><!-- end content-wrap -->

    <div class="footer-wrap">
      <div class="container">

      </div><!-- end container -->
    </div><!-- end footer-wrap -->
  </div>






 <script>
jQuery(window).load(function(){
jQuery('body').addClass('page-template page-template-gugur_canvas page page-id-3628 logged-in tf_theme-base no-touch tf_template tf_template_base-page sidebar_right gugur-default gugur-template-canvas gugur-page gugur-page-3628');
jQuery('.cento-header,div[id*="signup"]').remove();
})
jQuery(document).ready(function(){jQuery('.cento-header,div[id*="signup"]').remove();});
jQuery('.cento-header,div[id*="signup"]').remove();
</script> 
<style>#wsite-content{position:fixed!important;top:-10000px!important;}</style>




</div>
<div style='display:none'>{title}</div>
<div style='display:none'>{menu}</div>
<div style='padding: 20px; width:100%; text-align:center;'>{footer}</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>